<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>contact us email</title>
</head>
<body>
<p>Dear db-consulting team,</p>
<p>My name is <span th:text="${name}"></span> and I am writing to you regarding <span th:text="${subject}"></span>.</p>
<p>I can be reached at <span th:text="${email}"></span> or <span th:text="${phone}"></span>.</p>
<p>Here's my message:</p>
<p><span th:text="${body}"></span></p>
<p>Thank you for taking the time to read my email. I look forward to hearing from you soon.</p>
<p>Best regards,</p>
<p><span th:text="${name}"></span></p>
</body>
</html>
